<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Tamagotchi</title>
  </head>
  <body>
    <h1>Tamagotchi</h1>
    {%if attributes is not empty%}
      {% for attribute in attributes%}
      <ul>
        <li>{{attribute.getName}}</li>
        <li>{{attribute.getFood}}</li>
        <li>{{attribute.getAttention}}</li>
        <li>{{attribute.getSleep}}</li>
      </ul>
      {% endfor %}
    {%elseif attributes is empty %}
      <h1>{{attribute.getName}} is DEAD!</h1>
      <img src="http://www.slacktory.com/wp-content/uploads/2012/11/dead-sick-tamagotchi.jpg">
    {% endif %}

    <form action='/name' method='post'>
        <label for='name'>Name</label>
        <input id='name' name='name' type='text'>
      <!--   <label for='food'>Food</label>
        <input id='food' name='food' type='text'>
        <label for='attention'>Attention</label>
        <input id='attention' name='attention' type='text'>
        <label for='sleep'>Sleep</label>
        <input id='sleep' name='sleep' type='text'> -->

        <button type='submit'>Set Name</button>
    </form>
    <form action='/food' method='get'>
      <button type="submit">Food</button>
    </form>
    <form action='/attention' method='get'>
      <button type="submit">Attention</button>
    </form>
    <form action='/sleep' method='get'>
      <button type="submit">Sleep</button>
    </form>
    <form action='/delete_attr' method='post'>
        <button type='submit'>DELETE</button>
    </form>
  </body>
</html>
